// BASICS
section{
    @include paddingLeftRight(175px, 175px);
}
.section-title{
    @include marginTopBottom(125px, 15px);
    text-align: center;
}
.section-paragraph{
    @include paddingLeftRight(175px, 175px);
    font-size: 18px;
    text-align: center;
    color: $gray;
}
.btn{
    @include paddingTopBottom(10px, 10px);
    width: 200px;
    color: white;
    background-color: $green;
}
.seperator{
    @include marginTopBottom(0px, 25px);
    width: 35px;
    height: 3px;
    background-color: $green;
}